<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!--Cutsom Stylsheet-->
    <link rel="stylesheet" href="/stylesheets/main.css">

    <title>YelpCamp</title>
  </head>
  
  <body>
  
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
        <a href="/campgrounds" class="nav-link">Home</a>
      </li>
    </ul>
    
    <ul class="navbar-nav navbar-right">
  
          <!--Fuzzy Search Form-->
          <li class="nav-item">
            <form action="/campgrounds" method="GET" class="form-inline mt-2 mt-md-0">
                <div class="form-group">
                    <input type="text" name="search" placeholder="Campground search..." class="form-control mr-sm-2">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </div>
            </form>
          </li>
      
      <% if(!currentUser){ %>
          
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
            <a href="/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
            <a href="/register" class="nav-link">Sign Up</a>
          </li>
          
      <% } else { %>
          
          <% if(currentUser && currentUser.isAdmin){ %>
          
            <li class="nav-item">
              <a href="/users/<%= currentUser._id %>" class="nav-link">Administrator : <%= currentUser.username %></a>
            </li>
            
          <% } else{ %>
          
            <li class="nav-item">
              <a href="/users/<%= currentUser._id %>" class="nav-link">Signed In As <%= currentUser.username %></a>
            </li>
            
          <% } %>
          
          <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
          </li>
          
      <% } %>
      
    </ul>
  </div>
</nav>

    <div class="container">
      <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
      <% if (success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div
      <% } %>
    </div>
    
    <div class="container"> <!-- beginning of container for all contenet  --> 